.cart-list-image img {
  width: 100px;
}
.subtotal {
  margin-right: 11rem;
}
.tax {
  margin-right: 10.7rem;
}
.shipping {
  margin-right: 11.7rem;
}
.voucher {
  margin-right: 6.7rem;
}
.price {
  margin-left: 10.6rem;
}
.price2 {
  margin-left: 14.4rem;
}
