<div class="row">
  <div class="login-form mt-5 col-md-6 offset-2">
    <h3>Sign In</h3>
    <p class="text-xs-center">
      <a [routerLink]="['/auth/register']">Do not have an account?</a>
    </p>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group my-3">
        <label for="email">Email Address:</label>
        <input type="email" name="email" ngModel #email required id="email" class="form-control form-control-lg"
          placeholder="Enter Email Address">
      </div>

      <div class="form-group my-3">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control form-control-lg" ngModel #password required
          id="password" placeholder="Enter Password">
      </div>

      <button class="btn btn-secondary pull-xs-right btn-lg my-4" type="submit">Login</button>
    </form>
  </div>
</div>