<div class="row justify-content-center">
  <div class="col-8 mt-4">
    <h4><strong>Add Product</strong></h4>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group my-2">
        <label for="productName">Product Name:</label>
        <input type="text" ngModel required name="name" class="form-control" id="productName" placeholder="Name">
      </div>

      <div class="form-group my-2">
        <label for="productBrand">Brand:</label>
        <input type="text" ngModel required name="brand" class="form-control" id="productBrand" placeholder="Brand">
      </div>

      <div class="form-group my-2">
        <label for="productCategory">Category:</label>
        <input type="text" ngModel required name="category" class="form-control" id="productCategory"
          placeholder="Category">
      </div>

      <div class="form-group my-2">
        <label for="productDescription">Description:</label>
        <textarea class="form-control" ngModel name="description" class="form-control" id="productDescription"
          placeholder="Description"></textarea>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pricePurchase">Purchase Price:</label>
          <input type="text" (keypress)="keyPressNumbersWithDecimal($event)" name="pricePurchase" ngModel required
            class="form-control" id="pricePurchase">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="productPrice">Price:</label>
          <input type="text" (keypress)="keyPressNumbersWithDecimal($event)" name="price" ngModel required
            class="form-control" id="productPrice">
        </div>

        <div class="form-group col-md-6">
          <label for="productQuantity">Quantity:</label>
          <input type="text" (keypress)="keyPressNumbers($event)" required ngModel class="form-control" name="quantity"
            id="productQuantity">
        </div>
      </div>

      <div class="form-group col-md-6 my-2">
        <div class="row">
          <div class="col-10"> <label>Extra Device Protection:</label></div>
          <div class="col-2 form-check">
            <input type="checkbox" name="extra" id="extra" [(ngModel)]="ngSelectExtra"
              (change)="ngSelectExtra = !ngSelectExtra" class="form-check-input">
          </div>
        </div>
      </div>

      <div class="form-group my-2">
        <label for="productImageUrl">Image Url:</label>
        <input type="text" name="imageUrl" ngModel required class="form-control" id="productImageUrl"
          placeholder="Example: assets/images/sample.jpg">
      </div>

      <button class="btn btn-primary m-3" [routerLink]="['/shopping/product-list']">
        <fa-icon [icon]="faHome"></fa-icon> Back To List
      </button>
      <button class="btn btn-success m-3" type="submit" [disabled]="f.invalid">Add Product <fa-icon [icon]="faCartPlus">
        </fa-icon></button>
    </form>
  </div>
</div>