<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Payment</strong></h5>
    <p><strong>Payment Method:</strong> {{method}}</p>
    <p><strong>Account ending in:</strong>
      ********{{account | slice:-4}}</p>
    <div *ngIf="!isPaid" class="card border-danger mb-3">
      <div class="card-header">Order is not paid yet</div>
    </div>
    <div *ngIf="isPaid" class="card border-success mb-3">
      <div class="card-header">Order has been paid on {{paidAt | date:'medium'}}</div>
    </div>
    <div *ngIf="invoiceSent" class="card border-success mb-3">
      <div class="card-header">Invoice has been sent on {{invoiceAt | date:'medium'}}</div>
    </div>
  </div>
</div>