<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.order">
    <a class="btn btn-secondary my-3" [routerLink]="['/buy/admin-orders']" role="button">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    <div class="row my-4">
      <div class="col-md-6">
        <h3>Update Order Status</h3>
      </div>
      <div class="col-md-6">
        <h5>Order: {{vm.order._id}}</h5>
        <h5>placed on: {{vm.order.createdAt | date:'medium'}}</h5>
        <h5>Customer Name: {{vm.order.user && vm.order.user.firstName}} {{vm.order.user && vm.order.user.lastName}}</h5>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-6">
        <h5>Invoice Status:</h5>
        <div class="card my-3">
          <span *ngIf="vm.order.isPaid" class="card-header  border-success">Order has been paid on
            {{vm.order.paidAt | date:'medium'}}</span>
          <span *ngIf="!vm.order.isPaid" class="card-header  border-danger">Order is not paid</span>
        </div>
        <div class="card my-3">
          <span *ngIf="vm.order.invoiceSent && vm.order.invoiceAt" class="card-header  border-success">Invoice has been
            sent on
            {{vm.order.invoiceAt | date:'medium'}}</span>
          <span *ngIf="!vm.order.invoiceSent" class="card-header  border-danger">Invoice is not sent</span>
          <button type="button" class="btn btn-secondary col-12 my-3" (click)="sendInvoice()"
            [disabled]="!vm.order.isPaid || vm.order.invoiceSent || vm.order.returnActive">
            Mark Invoice as sent
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <h5>Delivery Status:</h5>
        <div class="card my-3">
          <div *ngIf="vm.order.isSent && vm.order.sentAt" class="card-header  border-success">Order has been dispatched
            on {{vm.order.sentAt | date:'medium'}}</div>
          <div *ngIf="!vm.order.isSent" class="card-header  border-danger">Order is not dispatched </div>
          <button type="button" class="btn btn-secondary col-12 my-3" (click)="sendOrder()"
            [disabled]="!vm.order.isPaid || vm.order.returnActive || vm.order.isSent">
            Mark Order as sent
          </button>

          <div *ngIf="vm.order.isDelivered && vm.order.deliveredAt" class="card-header  border-success">Order has been
            delivered on {{vm.order.deliveredAt | date:'medium'}}</div>
          <div *ngIf="!vm.order.isDelivered" class="card-header  border-danger">Order is not delivered </div>
          <button type="button" class="btn btn-secondary col-12 my-3" (click)="deliverOrder()"
            [disabled]="vm.order.isDelivered || !vm.order.isSent || vm.order.returnActive">
            Mark Order as delivered
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>