<div class="row">
  <div class="col-md-8">
    <span>
      <fa-icon [icon]="faStar" class="text-warning" *ngIf="+value > 1 || +value === 1"></fa-icon>
      <fa-icon [icon]="faStarHalfAlt" class="text-warning" *ngIf="+value <  1 && (+value > 0.5 || +value === 0.5)">
      </fa-icon>
      <fa-icon [icon]="faStar" class="gray" *ngIf="+value <  0.5"></fa-icon>
    </span>

    <span>
      <fa-icon [icon]="faStar" class="text-warning" *ngIf="+value > 2 || +value === 2"></fa-icon>
      <fa-icon [icon]="faStarHalfAlt" class="text-warning" *ngIf="+value <  2 && (+value > 1.5 || +value === 1.5)">
      </fa-icon>
      <fa-icon [icon]="faStar" class="gray" *ngIf="+value <  1.5"></fa-icon>
    </span>

    <span>
      <fa-icon [icon]="faStar" class="text-warning" *ngIf="+value > 3 || +value === 3"></fa-icon>
      <fa-icon [icon]="faStarHalfAlt" class="text-warning" *ngIf="+value <  3 && (+value > 2.5 || +value === 2.5)">
      </fa-icon>
      <fa-icon [icon]="faStar" class="gray" *ngIf="+value <  2.5"></fa-icon>
    </span>

    <span>
      <fa-icon [icon]="faStar" class="text-warning" *ngIf="+value > 4 || +value === 4"></fa-icon>
      <fa-icon [icon]="faStarHalfAlt" class="text-warning" *ngIf="+value <  4 && (+value > 3.5 || +value === 3.5)">
      </fa-icon>
      <fa-icon [icon]="faStar" class="gray" *ngIf="+value <  3.5"></fa-icon>
    </span>

    <span>
      <fa-icon [icon]="faStar" class="text-warning" *ngIf="+value === 5"></fa-icon>
      <fa-icon [icon]="faStarHalfAlt" class="text-warning" *ngIf="+value <  5 && (+value > 4.5 || +value === 4.5)">
      </fa-icon>
      <fa-icon [icon]="faStar" class="gray" *ngIf="+value <  4.5"></fa-icon>
    </span>
  </div>
  <div class="col-md-4">
    <strong>{{text}}</strong>
  </div>
</div>